astc-encoder-*
AwsIotDeviceSdkCpp-*
azslc-*
Blast-*
Crashpad-*
DirectXShaderCompilerDxc-*
googlebenchmark-*
googletest-*
ISPCTexComp-*
libpng-*
libsamplerate-*
Lua-*
lz4-*
mcpp-*
mikkelsen-*
NvCloth-*
OpenSSL-*
PhysX-*
poly2tri-*
qt-*
RapidJSON-*
SPIRVCross-*
tiff-*
v-hacd-*
zlib-*
pybind11-multiplatform

